.TextBox {
    -webkit-appearance: none;
    font-family: 'Assistant', sans-serif;
    font-size: large;
    color: black;
    width: 100%;
    text-align: left;
    padding: 6px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 2px;
    box-sizing: content-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-top: 2px;
    outline: none;
}